<mat-card *ngIf="ok">
	<mat-card-title style="display: flex">
		<button mat-raised-button color="primary" (click)="add()">
			<fa-icon [icon]="faIcons.add"></fa-icon>
			Добавить пользователя
		</button>
		&nbsp;
		<button mat-stroked-button color="primary" (click)="refresh(true)">
			<fa-icon [icon]="faIcons.refresh"></fa-icon>
			Обновить
		</button>
		<span style="flex: 1"></span>

		<a mat-stroked-button color="primary" [routerLink]="['/']">
			Главное меню
		</a>
	</mat-card-title>
	<mat-card-content>
		<mat-list role="list">
			<mat-divider></mat-divider>
			<ng-container *ngFor="let user of users">
				<mat-list-item role="listitem">
					{{ user.name }}
					<span style="flex: 1 1 "></span>
					<button mat-mini-fab (click)="edit(user)" color="primary">
						<fa-icon [icon]="faIcons.edit"></fa-icon>
					</button>
					&nbsp;
					<button mat-mini-fab (click)="del(user)" color="accent">
						<fa-icon [icon]="faIcons.del"></fa-icon>
					</button>
				</mat-list-item>
				<mat-divider></mat-divider>
			</ng-container>
		</mat-list>
	</mat-card-content>
	<mat-card-actions>

	</mat-card-actions>
</mat-card>
<br>
<br>
<mat-card *ngIf="showForm">
	<mat-card-content>
		<mat-form-field class="example-full-width">
			<input matInput placeholder="Имя" [(ngModel)]="form.name">
		</mat-form-field>
		<br>
		<mat-form-field class="example-full-width">
			<input matInput placeholder="Пароль" [(ngModel)]="form.pass">
		</mat-form-field>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="accent" (click)="save()">
			<fa-icon [icon]="faIcons.save"></fa-icon>
			Сохранить
		</button>
		&nbsp;
		<button mat-stroked-button color="warn" (click)="cancel()">
			<fa-icon [icon]="faIcons.cancel"></fa-icon>
			Отмена
		</button>
	</mat-card-actions>
</mat-card>
