<mat-card>
	<mat-card-title style="display: flex">
		<button mat-raised-button color="primary" (click)="print()">
			<fa-icon [icon]="faIcons.print"></fa-icon>
			&nbsp;
			Печать
		</button>
		&nbsp;
		<button mat-raised-button color="primary" (click)="refresh(true)">
			<fa-icon [icon]="faIcons.refresh"></fa-icon>
			&nbsp;
			Обновить
		</button>
		&nbsp;
		<a mat-raised-button color="accent" [routerLink]="['/production/edit', -1]">
			<fa-icon [icon]="faIcons.add"></fa-icon>
			&nbsp;
			Новый продукт
		</a>

		<span style="flex: 1"></span>

		<a mat-stroked-button color="primary" [routerLink]="['/']">
			<fa-icon [icon]="faIcons.weight"></fa-icon>
			&nbsp;
			К взвешиванию
		</a>
	</mat-card-title>
	<table class="table-prod">
		<caption>Продукция</caption>
		<thead>
			<tr>
				<th>Код</th>
				<th>Наименование</th>
				<th>Название</th>
				<th>Срок годности</th>
				<th>Штрихкод</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let row of production">
				<td>{{ row.id }}</td>
				<td>{{ row.group_name }}</td>
				<td>{{ row.name }}</td>
				<td>{{ row.expiration_date }}</td>
				<td>{{ row.bar_code }}</td>
				<td class="buttons">
					<a mat-mini-fab color="primary" [routerLink]="['/production/edit', row.id]">
						<fa-icon [icon]="faIcons.edit"></fa-icon>
					</a>
					<button mat-mini-fab color="accent" (click)="del(row)">
						<fa-icon [icon]="faIcons.del"></fa-icon>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</mat-card>
