.status {
  height:7%;
}
.plu {
  //border: 1px solid #bcbcbc;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  font-size: 32px;
}
.menu {
  font-size: 0.7em;
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.keyboard {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  height: 58%;
}
.footer {
  height: 30%;
  background: #fff;
  padding: 0 20px;
  border-radius: 5px;
}


.weiging-btn {

 fa-icon {
   font-size: 2em;
   margin-right: 5px;
 }
}
.num-btn {
  font-size: 2em;
  font-weight: bold;
  color: #0077ff;
}
.red-btn {
  color: white;
  background: red;
}
.orange-btn {
  color: orange;
}
.srv-btn {
  color: green;
}
.tare-btn {
  border: 10px solid transparent;
}
.tare_active {
  border: 10px dashed red;
}
.printing {
  background: yellow !important;
  color: red !important;
}
.scales-btn {
  background: #333333;
  color: #fff;
}
.invisible {
  //visibility: hidden;
  background-color: #c7c7c7;
  height: 50%;
  width: 75%;
  justify-self: center;
  align-self: center;
}
.srv-btn .user_name {
  //font-size: 0.8em;
  color: #d61313;
  font-weight: normal;
}

.full-width {
  width: 100%;
}
.plu-btn {
  background-color: #bbff33;
}
.inputs {
  display: flex;
  justify-content: space-around;
}
//.inputs mat-form-field {
//  width: 25vw;
//}

.right {
  text-align: right;
}
//button[mat-fab] {
//  width: 75px;
//  height: 75px;
//}
.totals {
  display: flex;
  justify-content: space-around;
  .total-item {
    text-align: center;
  }
}

.status {
  mat-chip.w40 {
    width: 40%;
  }
  mat-chip.error {
    background: #f00;
  }
  mat-chip.ok {
    background: #3dcf8c;
  }
  mat-chip.w80 {
    //width: 81%;
  }
}

.double-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    height: 48%;
  }
  button:not([disabled]) {
    border: 4px solid orange;
  }
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

fieldset[disabled] button {
  background: #bcbcbc;
}
