<div class="status">
	<br>
	<mat-chip-list>
<!--		<mat-chip class="w40"-->
<!--				  [ngClass]="{ok: serverConnected, error: !serverConnected}"-->
<!--				  selected>Сервер: {{ serverConnected ? 'Ok' : 'Disconnected' }}</mat-chip>-->
		<mat-chip class="w80"
				  [ngClass]="{ok: weighingService.scales.connected, error: !weighingService.scales.connected}"
				  selected>Весы: {{ weighingService.scales.message }}</mat-chip>
		<br>
		<mat-chip color="primary" selected class="w80"
				  [color]="currentproduct ? 'primary' : 'accent'">
			Выбранный продукт: &nbsp; <b>[{{currentproduct?.id}}]</b>&nbsp;-&nbsp;{{ currentproduct?.group_name }} - {{ currentproduct?.name }}
		</mat-chip>
	</mat-chip-list>

</div>

<div class="plu">
	PLU: {{ currentPlu }}
</div>

<hr>

<div class="keyboard">
	<button mat-raised-button class="weiging-btn num-btn" (click)="NumPress('1')"
			[disabled]="!userService.currentUser || !weighingService.scales.connected">1</button>
	<button mat-raised-button class="weiging-btn num-btn" (click)="NumPress('2')"
			[disabled]="!userService.currentUser || !weighingService.scales.connected">2</button>
	<button mat-raised-button class="weiging-btn num-btn" (click)="NumPress('3')"
			[disabled]="!userService.currentUser || !weighingService.scales.connected">3</button>
	<button mat-raised-button class="weiging-btn srv-btn refresh-btn" *ngIf="!weighingService.scales.connected"
			(click)="reloadPage()">Перезагрузить<br>приложение</button>
	<button mat-raised-button class="weiging-btn srv-btn plu-btn" *ngIf="weighingService.scales.connected"
			(click)="getProduct()"
			[disabled]="!userService.currentUser">PLU</button>
	<button mat-raised-button class="weiging-btn srv-btn tare-btn" [disabled]="!userService.currentUser  || !weighingService.scales.connected"
			[ngClass]="{tare_active: getTareMode}"
	        [style.color]="weighingService?.currentTare==0 ? 'green' : 'red'"
			(click)="tareModeToggle()">
		<fa-icon [icon]="faIcons.tare"></fa-icon>
		Тара
		<br>
		{{ weighingService?.currentTare }}
	</button>

	<button mat-raised-button class="weiging-btn num-btn" (click)="NumPress('4')"
			[disabled]="!userService.currentUser || !weighingService.scales.connected">4</button>
	<button mat-raised-button class="weiging-btn num-btn" (click)="NumPress('5')"
			[disabled]="!userService.currentUser || !weighingService.scales.connected">5</button>
	<button mat-raised-button class="weiging-btn num-btn" (click)="NumPress('6')"
			[disabled]="!userService.currentUser || !weighingService.scales.connected">6</button>
	<button mat-raised-button class="weiging-btn srv-btn" (click)="getUser()"
			[disabled]="!weighingService.scales.connected"
			color="{{ userService.currentUser ? '' : 'warn' }}">
		<span *ngIf="!userService.currentUser">
			<fa-icon [icon]="faIcons.user"></fa-icon>
			Пользователь
		</span>
		<span class="user_name" *ngIf="userService.currentUser">
			<fa-icon [icon]="faIcons.user"></fa-icon>
			{{ userService.currentUser?.name }}
		</span>
	</button>
	<button mat-raised-button class="weiging-btn srv-btn" [disabled]="!userService.currentUser  || !weighingService.scales.connected"
			(click)="resetTare()">
		<fa-icon [icon]="faIcons.tareReset"></fa-icon>
		Сброс тары
	</button>

	<button mat-raised-button class="weiging-btn num-btn" (click)="NumPress('7')"
			[disabled]="!userService.currentUser  || !weighingService.scales.connected">7</button>
	<button mat-raised-button class="weiging-btn num-btn" (click)="NumPress('8')"
			[disabled]="!userService.currentUser || !weighingService.scales.connected">8</button>
	<button mat-raised-button class="weiging-btn num-btn" (click)="NumPress('9')"
			[disabled]="!userService.currentUser || !weighingService.scales.connected">9</button>
	<button mat-raised-button class="weiging-btn srv-btn scales-btn" [disabled]="!userService.currentUser || !weighingService.scales.connected">
		<fa-icon [icon]="faIcons.weight"></fa-icon>
		На весах:
		<br>
		{{ weighingService.currentWeight }} кг
	</button>
	<div class="double-btn">
		<button class="weiging-btn srv-bt"
				mat-raised-button
				(click)="selectTemplate()"
				[disabled]="!userService.currentUser || !weighingService.scales.connected">
			<fa-icon [icon]="faIcons.excel"></fa-icon>
			Шаблон: {{templatesService.currentTemplate?.id}}
		</button>
		<button mat-raised-button
				class="weiging-btn srv-bt"
				(click)="test_print()"
				[disabled]="currentproductId<0 || !weighingService.scales.connected">
			<fa-icon [icon]="faIcons.print"></fa-icon>
			Тест
		</button>
	</div>
	<button mat-raised-button class="weiging-btn red-btn" (click)="NumPress('reset')"
			[disabled]="!userService.currentUser || !weighingService.scales.connected">
		<fa-icon [icon]="faIcons.reset"></fa-icon>
		Сброс
	</button>
	<button mat-raised-button class="weiging-btn num-btn" (click)="NumPress('0')"
			[disabled]="!userService.currentUser || !weighingService.scales.connected">0</button>
	<button mat-raised-button class="weiging-btn orange-btn" (click)="NumPress('del')"
			[disabled]="!userService.currentUser || !weighingService.scales.connected">
		<fa-icon [icon]="faIcons.delete"></fa-icon>
		Удалить
	</button>
	<button mat-raised-button class="weiging-btn srv-btn" (click)="printTotal()"
			[disabled]="!userService.currentUser || !weighingService.scales.connected">
		<fa-icon [icon]="faIcons.total"></fa-icon>
		Итог
	</button>
	<button mat-raised-button class="weiging-btn srv-btn" [ngClass]="{printing: printInProgress, printing_totals: printTotals}" [disabled]="true">
		<fa-icon [icon]="faIcons.print"></fa-icon>
		Идёт печать! <br>
		{{ prnTime }}
	</button>

</div>

<!-- ---------------------------------------------------------------------- -->
<hr>
<div class="footer">
	<br>
	<mat-form-field class="full-width">
		<mat-label>Продукт</mat-label>
			<mat-select placeholder="Выберите продукт" [(value)]="currentproductId" (selectionChange)="prodSelect($event)">
				<mat-option *ngFor="let p of production" [value]="p.id">[{{ p.id }}] - {{ p.group_name }} - {{ p.name }}</mat-option>
			</mat-select>
	</mat-form-field>

	<fieldset [disabled]="!currentproduct || !weighingService.scales.connected">
		<div class="inputs">
			<div class="left">
				<button mat-fab color="primary" (click)="changeDate(partyDate, -1)">-</button>
				&nbsp;
				<mat-form-field>
					<input matInput [matDatepicker]="picker"
						   (click)="picker.open()"
						   placeholder="Дата партии"
						   [formControl]="partyDate">
					<mat-datepicker #picker touchUi></mat-datepicker>
				</mat-form-field>
				&nbsp;
				<button mat-fab color="primary" (click)="changeDate(partyDate, 1)">+</button>
				<br>
<!--				<button mat-fab color="primary" (click)="changePalletNum(-1)">-</button>-->
<!--				&nbsp;-->
<!--				<mat-form-field>-->
<!--					<input matInput-->
<!--						   placeholder="Номер поддона"-->
<!--						   [(ngModel)]="palletNumber"-->
<!--						   type="number">-->
<!--				</mat-form-field>-->
<!--				&nbsp;-->
<!--				<button mat-fab color="primary" (click)="changePalletNum(1)">+</button>-->
			</div>

			<div class="right">
				<button mat-fab color="primary" (click)="changeDate(expirationDate, -1)">-</button>
				&nbsp;
				<mat-form-field>
					<input matInput [matDatepicker]="picker2" (click)="picker2.open()" placeholder="Дата изготовления" [formControl]="expirationDate">
					<mat-datepicker #picker2 touchUi></mat-datepicker>
				</mat-form-field>
				&nbsp;
				<button mat-fab color="primary" (click)="changeDate(expirationDate, 1)">+</button>
				<br>
			</div>
			<div>
				<button mat-fab color="primary" (click)="changePacks(-1)">-</button>
				&nbsp;
				<mat-form-field>
					<input matInput
						   placeholder="Упаковок в коробке"
						   [(ngModel)]="packsPerBox"
						   type="number">
				</mat-form-field>
				&nbsp;
				<button mat-fab color="primary" (click)="changePacks(1)">+</button>
			</div>
		</div>
	</fieldset>
	<hr>

	<div class="totals" (click)="showWeighingLog()">
		<div class="total-item">
			<div>Упаковок, шт</div>
			<div>{{ weighingService.totals.packs }}</div>
		</div>
		<div class="total-item">
			<div>Вес продукции, кг</div>
			<div>{{ weighingService.totals.netto }}</div>
		</div>
		<div class="total-item">
			<div>Вес тары, кг</div>
			<div>{{ weighingService.totals.tare }}</div>
		</div>
		<div class="total-item">
			<div>Вес партии, кг</div>
			<div>{{ weighingService.totals.brutto }}</div>
		</div>
	</div>
<!--	<table class="table-totals">-->
<!--		<tr>-->
<!--			<th (click)="showWeighingLog()">Упаковок, шт</th>-->
<!--			<th>Вес продукции, кг</th>-->
<!--			<th>Вес тары, кг</th>-->
<!--			<th>Вес партии, кг</th>-->
<!--		</tr>-->
<!--		<tr>-->
<!--			<td (click)="showWeighingLog()">{{ weighingService.totals.packs }}</td>-->
<!--			<td>{{ weighingService.totals.netto }}</td>-->
<!--			<td>{{ weighingService.totals.tare }}</td>-->
<!--			<td>{{ weighingService.totals.brutto }}</td>-->
<!--		</tr>-->
<!--	</table>-->



</div>
<!--<hr>-->

<!--<nav class="menu">-->
<!--	<ul>-->
<!--		<li><a routerLink="/production/list">Продукция</a></li>-->
<!--		<li><a routerLink="/users">Пользователи</a></li>-->
<!--		<li><a routerLink="/templates">Шаблоны</a></li>-->
<!--	</ul>-->
<!--</nav>-->
