textarea {
  height: 115px;
  text-align: justify;
}

div.row {
  display: flex;
  justify-content: space-between;
}

mat-form-field.full-width {
  width: 100%;
}

mat-form-field.half-width {
  width: 48%;
}

mat-form-field.third-width {
  width: 30%;
}
